@using X.PagedList.Mvc;
@using X.PagedList;
@model IEnumerable<PetGroomingManager.Models.Comm_Variety>

@{
    ViewBag.Title = "品種";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kindSN = ViewBag.kindSN;
}

<div class="systemGroup">
    <h2>@ViewBag.Title</h2>

    <div>
        <p style="text-align:right">
            @Html.ActionLink("新增品種", "Create", new { kindSN = @kindSN }, new { @class = "btn btn-primary" })
            @Html.ActionLink("返回種類列表", "Index", "Kind", "", new { @class = "btn btn-success" })
        </p>
        <p>

        </p>
        <table class="table">
            <tr>
                <th>
                    品種
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.varietyName)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { SN = item.SN }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
            ContainerDivClasses = new[] { "" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            MaximumPageNumbersToDisplay = 10
        })
    </div>
</div>