@model PetGroomingManager.Models.Comm_Customer

@{
    ViewBag.Title = "修改飼主資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="systemGroup">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SN)

            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    姓名：
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    電話：
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    住址：
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    備註：
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.customerRemark, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="修改" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("返回飼主清單", "Index")
    </div>
</div>